@import url("admin.css");

.content{

margin-left:260px;

padding:40px;

}

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

table{

width:100%;

border-collapse:collapse;

background:#1b2230;

border-radius:18px;

overflow:hidden;

}

th{

background:#ff6b00;

padding:16px;

color:white;

}

td{

padding:16px;

border-bottom:1px solid rgba(255,255,255,.05);

color:#ddd;

}

tr:hover{

background:#252d40;

}

.status{

padding:6px 14px;

background:#22c55e;

border-radius:20px;

font-size:13px;

color:white;

}

.view-btn{

padding:8px 16px;

background:#2563eb;

border-radius:8px;

text-decoration:none;

color:white;

font-size:14px;

}