@import url("admin.css");

.content{

margin-left:260px;

padding:40px;

}

.page-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.back-btn{

padding:12px 24px;

background:#ff6b00;

color:#fff;

text-decoration:none;

border-radius:10px;

font-weight:600;

}

table{

width:100%;

border-collapse:collapse;

background:#1c2434;

border-radius:20px;

overflow:hidden;

}

th{

background:#ff6b00;

padding:18px;

}

td{

padding:18px;

text-align:center;

border-bottom:1px solid rgba(255,255,255,.08);

}

tr:hover{

background:#252d40;

}